<!DOCTYPE html>
<html>

  <head>
    <script data-require="angular.js@1.4.5" data-semver="1.4.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="main.js"></script>
    <script src="my-object-inputs.js"></script>
  </head>

  <body>
    <h1>Explore Data Binding with Data Transformation</h1>
    
    <div ng-app="myApp">
      <div ng-controller="MainCtrl">
        <textarea disabled='disabled'>{{ myData | json }}</textarea>
        <div class="group" ng-repeat="group in myData.myGroups">
          <h4>{{ group.myGroupName }}</h4>
          <my-object-inputs ng-model="group.myObjs"></my-object-inputs>
        </div>
      </div>
    </div>
  </body>
</html>
