a {
	color: blue;
	cursor: pointer;
}
h4 {
	margin: 0 0 0.5em;
	font-size: 1em;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
input {
	width: 50px;
}
textarea {
	border: 1px solid #ccc;
	clear: none;
	height: 400px;
	float: right;
	width: calc(100% - 300px);
}
.group {
	clear: left;
	float: left;
	margin: 0 0 1em;
	padding: 0;
	width: 250px;
}